<header class="page-header" role="banner">
  <a href="/">
    <div class="my-title">
      <h1 class="project-name"> <img class="my-logo" type="image/svg" src="/logo.svg"/> {{ site.title }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
    </div>
  </a>
  <div class="my-topnav">
    {% assign colls = site.collections | sort: 'order' %}
    {% for coll in colls %}
      {% if page.collection == coll.label %} <a href="/{{ coll.label }}"><button type="button" class="active">{{ coll.name }}</button></a>
      {% else %} <a href="/{{ coll.label }}"><button type="button" >{{ coll.name }}</button></a> {% endif %}
    {% endfor %}
  </div>
</header>
