<header class="page-header" role="banner">
  <a href="/">
    <div class="my-title">
      <h1 class="project-name"> <img class="my-logo" type="image/svg" src="/logo.svg"/> {{ site.title }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
    </div>
  </a>
  <div class="my-topnav">
    {% for categ in site.category_names %}
      {% if page.category == categ[0] %} <a href="/{{ categ[0] }}"><button type="button" class="active">{{ categ[1] }}</button></a>
      {% else %} <a href="/{{ categ[0] }}"><button type="button" >{{ categ[1] }}</button></a> {% endif %}
    {% endfor %}
  </div>
</header>
