---
---

@import "{{ site.theme }}";

.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: $header-bg-color;
  background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);

  @include large {
    padding: 2rem 6rem;
  }

  @include medium {
    padding: 2rem 4rem;
  }

  @include small {
    padding: 1rem 1rem;
  }
}

.project-tagline {
  margin-bottom: 1rem;
  font-weight: normal;
  opacity: 0.7;

  @include large {
    font-size: 1.25rem;
  }

  @include medium {
    font-size: 1.15rem;
  }

  @include small {
    font-size: 1rem;
  }
}

.my-logo {
  @include large {
    max-height: 40px;
  }

  @include medium {
    max-height: 25px;
  }

  @include small {
    max-height: 20px;
  }
}

.my-title {
}

.my-topnav {
  width: 100%;
  position: relative;
  top: 0.5rem;

  @include small {
    top: 0;
  }
}

.my-topnav button {
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 1.25rem;
  border: none;
  margin: 1px 2px;
  background-color: transparent;
  transition: 0.3s;

  @include medium {
    font-size: 1.15rem;
  }

  @include small {
    padding: 8px 10px;
    font-size: 1rem;
  }
}

.my-topnav button:hover {
  background-color: #ddd;
  color: black;
}

.my-topnav button.active {
  background-color: #04AA6D;
  color: white;
}