<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#157878" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:url" content="{{ page.url | absolute_url }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ '/assets/icons/og-icon.png' | absolute_url }}" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="977">
    <meta property="og:image:height" content="512">
    <meta property="og:image:alt" content="The words 'EPIC Guide' next to an 'i' in a blue circle." />
    <meta name="author" content="EPIC, the EPFL IC PhD students' association" />
    <meta name="description" content="This guide is put together by PhD students in Computer & Communication Sciences at EPFL to help you navigate your research career at EPFL, from applying to graduating." />
    <meta name="og:description" content="{% if page.description %}{{ page.description }}{% else %}This guide is put together by PhD students in Computer & Communication Sciences at EPFL to help you navigate your research career at EPFL, from applying to graduating.{% endif %}" />

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" />

    <link rel="icon" type="image/png" href="{{ '/assets/icons/favicon-96x96.png' | relative_url }}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{ '/assets/icons/favicon.svg' | relative_url }}" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/icons/favicon.ico' | relative_url }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/icons/apple-touch-icon.png' | relative_url }}" />
    <meta name="apple-mobile-web-app-title" content="EPIC Guide" />
    <link rel="manifest" href="{{ '/assets/icons/site.webmanifest' | relative_url }}" />

    <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.title }}</title>
  </head>
  <body>
    <header class="page-header" role="banner">
      <a href="{{ '/' | relative_url }}">
        <div>
          <h1 class="project-name"> <img class="my-logo" type="image/svg" src="{{ '/logo.svg' | relative_url }}"/> {{ site.title }}</h1>
        </div>
      </a>
      <div class="my-topnav">
        {% assign colls = site.collections | sort: 'order' %}
        {% for coll in colls %}
          {% if page.collection == coll.label %} <a href="{{ coll.label | prepend: "/" | relative_url }}"><button type="button" class="active">{{ coll.name }}</button></a>
          {% else %} {% if coll.label != "posts" %} <a href="{{ coll.label | prepend: "/" | relative_url }}"><button type="button" >{{ coll.name }}</button></a> {% endif %} {% endif %}
        {% endfor %}
      </div>
    </header>

    <main id="content" class="main-content" role="main">
      <h2 class="my-article-title">{{ page.title }}</h2>
      {{ content }}

      <footer class="site-footer">
        This guide is collectively written by EDIC PhD students and maintained by <a href="https://www.epfl.ch/campus/associations/list/epic/">EPIC</a>.
      </footer>
    </main>
  </body>
</html>
