<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    {% include header.html %}

    <main id="content" class="main-content" role="main">
      <div class="my-article-title">{{ page.title }}</div>
      
      {{ content }}

      <div class="my-article-list">
        {% for coll in site.collections %}
          {% if coll.label == page.collection %}
            {% assign docs = coll.docs | sort: 'order' %}
            {% for doc in docs %}
              <div class="my-article-list-item"><a href="{{ doc.url | relative_url }}">{{ doc.title }}</a></div>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </div>

      {% include footer.html %}
    </main>
  </body>
</html>
