<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    {% include header.html %}

    <main id="content" class="main-content" role="main">
      <div class="my-article-title">{{ page.title }}</div>
      <hr/>

      {{ content }}

      <a href="{{ page.category | prepend: "/" | relative_url }}">Go back</a>

      {% include footer.html %}
    </main>
  </body>
</html>
